.bigButton {
  width: 80%;
  height: 8%;
  font-size: 2em;
  margin-top: .5em;
}

.left-pane {
  width: 25%;
}

.buttonContainer {
  align-items: center;
}

.high-score-submit {
  height: 1.5em;
  margin-right: 1em; 
  margin-left: 1em;
  background-color: green;
  color: white;
  font-weight: "bold";
  font-size: 1.4em;
}